body{
    background: #8CB369;
    
}
button{
    background-color: #F4A259;
}
.icons-container{
    display: grid;
    gap: 1rem;
    grid-auto-rows: 88px;
    grid-template-columns: repeat(auto-fit,minmax(69px, 3fr));
    margin: 20px;
    

}

.cuadro{

    background: #F4A259;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.icon-text{
    color: #fff;
}


.displayer{
    height: 80px;
    background-color: #FEF7BA;
    margin: 1rem 1rem 0 1rem;
    display: flex;
    justify-content: space-around;
    padding: 1rem 0 1rem 0;
    border-radius: 10px;
   // display: flex;
    //flex-direction: row;
    //gap: 1rem;
    
}

.displayer p{
    margin: 0;
}




.display-compras{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.total{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

