body{
    background: #C3E85A;
}

.icons-container{
    display: grid;
    gap: 1rem;
    grid-auto-rows: 88px;
    grid-template-columns: repeat(auto-fit,minmax(69px, 3fr));
    margin: 20px;
    

}

.cuadro{

    background: #FFB3C6;
}
